<!-- <h1>Fame Worapol</h1>
{{title}}
<br>
{{ninjaName}}
<button type="button" (click)="ninjaConsole()">Console Ninja</button>
<br>
<button type="button" (click)="changeNinjaName('sakura')">Change Ninja Name to Sakura</button>
<button type="button" (click)="changeNinjaName('sasuke')">Change Ninja Name to Sasuke</button>
<button type="button" (click)="changeNinjaName('naruto')">Change Ninja Name to Naruto</button> -->
<!DOCTYPE html>
<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App Component</title>
  </head>
  <body>
    <div>
      <h1>มา 4 จ่าย 3</h1>
      <input #BufferPrice type="text" placeholder="ราคาบุฟเฟต์">
      <button (click)="callBuffet(BufferPrice.value)">คำนวณ</button>
      <span>คนละ {{value}} บาท</span>
     <hr>
    </div>
    <h1>แสดงผล actionBar component</h1>
    <app-action-bar [step]="1"></app-action-bar>
    <app-action-bar [step]="5"></app-action-bar>
    <app-action-bar [step]="10"></app-action-bar>
    <app-action-bar [step]="20"></app-action-bar>
    <hr>
    <h1>Event Binding</h1>
    <button (click)="testClick()">Event Binding</button>
    <app-action-bar (numeberChange)="testNumberChange($event)" [step]="1"></app-action-bar>
    <app-action-bar (numeberChange)="testNumberChange($event)" [step]="5"></app-action-bar>
    <hr>
    <h1>Max Min Meter</h1>
    <app-max-min-meter 
      [minLabel]="myMinLabel" 
      [maxLabel]="myMaxLabel"
      (maxChange)="doAppMaxChange($event)"
      (minChange)="doAppMinChange($event)"
    >
    </app-max-min-meter>
    <hr>
    <h1>CSS Binding</h1>
    <app-square-flex [divWidth]="squareWidth" [divHeight]="squareHeight"></app-square-flex>
    <div>
      width :
      <button type="button" (click)="squareWidth=100">100 px</button>
      <button type="button" (click)="squareWidth=200">200 px</button>
      <button type="button" (click)="squareWidth=300">300 px</button>
    </div>
    <div>
      height :
      <button type="button" (click)="squareHeight=100">100 px</button>
      <button type="button" (click)="squareHeight=200">200 px</button>
      <button type="button" (click)="squareHeight=300">300 px</button>
    </div>
  </body>
</html>
